@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e3f2fd;
}

.wrapper {
    width: 65vmin;
    height: 70vmin;
    background: #293447;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    overflow: hidden;
}

.game-details {
    color: #b8c6dc;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}

.play-board {
    width: 100%;
    height: 100%;
    background: #212837;
    display: grid;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}

.play-board .food {
    background: #ff003d;
}

.play-board .head {
    background-color: #60cbff;
}

.controls {
    display: none;
    justify-content: space-between;
}

.controls i {
    padding: 25px 0;
    color: #b8c6dc;
    text-align: center;
    font-size: 1.3rem;
    cursor: pointer;
    border-right: 1px solid #171b26;
    width: calc(100% / 4);
}

@media screen and (max-width: 800px) {

    .wrapper {
        width: 90vmin;
        height: 115vmin;
    }

    .game-details {
        font-size: 1rem;
        padding: 15px 27px;
    }

    .controls {
        display: flex;
    }

    .controls i {
        padding: 15px 0;
        font-size: 1rem;
    }

}

@media screen and (max-width: 820px) {

    .wrapper {
        width: 90vmin;
        height: 102vmin;
    }

    .game-details {
        font-size: 1rem;
        padding: 15px 27px;
    }

    .controls {
        display: flex;
    }

    .controls i {
        padding: 15px 0;
        font-size: 1rem;
    }

}

@media screen and (max-width: 1024px) {

    .wrapper {
        width: 90vmin;
        height: 102vmin;
    }

    .game-details {
        font-size: 1rem;
        padding: 15px 27px;
    }

    .controls {
        display: flex;
    }

    .controls i {
        padding: 15px 0;
        font-size: 1rem;
    }

}

@media screen and (min-width: 1025px) {

    .wrapper {
        width: 65vmin;
        height: 70vmin;
    }

    .game-details {
        font-size: 1.2rem;
        padding: 20px 27px;
    }

    .controls {
        display: none;
    }
}